
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

.Roboto{
    font-family: 'Roboto', sans-serif;
}

.Righteous{
    font-family: 'Righteous', cursive;
}

.container-principal{
    width: 100%;
    height: 100%;
    background-color: #E5E5E5;
    margin-top: 92px;
    margin-bottom: 91px;
    padding-top: 20px;
    box-sizing: border-box;
}

.cabecalho{
width: 100%;
height: 92px;
background: #CF2B2B;
color: #FFFFFF;
padding-left: 21px;
padding-top: 8px;
box-sizing: border-box;
align-items: center;
position: fixed;
top: 0px;
z-index: 1;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cabecalho h1{
    font-size: 44px;
    line-height: 55px;
}

.cabecalho p{
    font-size: 18px;
}

.rodape{
    width: 100%;
    height: 92px;
    background: #FFFFFF;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-finalizar{
    width: 84%;
    height: 61px;
    font-size: 20px;
    background: #CBCBCB;
    color: #FFFFFF;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.prato-principal{
    width: 100%;
    height: 259px;
    margin-top: 11px;
    margin-bottom: 16px;
    padding-left: 19px;
    box-sizing: border-box;
}

.texto{
    font-size: 26px;
    color: #333333;
    margin-bottom: 17px;
}

.pratos{
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
}

.item{
    width: 172px;
    height: 216px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 18px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 13px;
    border-radius: 9px;'
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border: none;
    word-break: break-word;
    margin-right: 16px;
    position: relative;
}

.item img{
    width: 144px;
    height: 87px;
    border-radius: 4px;
}

.item h1{
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    margin-top: 8px;
    line-height: 19px;
    box-sizing: border-box;
}

.item p{
    font-size: 15px;
    font-weight: 300;
    color: #A6A6A6;
    margin-top: 8px;
    line-height: 18px;
}

.item h2{
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin-top: 8px;
    line-height: 19px;
    }

.item ion-icon{
    font-size: 19px;
    position: absolute;
    bottom: 14px;
    right: 14px;
    color: transparent;
}

.selecionado1 {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
}

.selecionado1 ion-icon{
    color: #32B72F;
}

.selecionado2 {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
}

.selecionado2 ion-icon{
    color: #32B72F;
}

.selecionado3 {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
}

.selecionado3 ion-icon{
    color: #32B72F;
}

.marcado{
    
}

.bebidas{
    width: 100%;
    height: 259px;
    margin-top: 11px;
    margin-bottom: 16px;
    padding-left: 19px;
    box-sizing: border-box;
}

.bebida{
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: scroll;
    margin-right: 16px;
}

.sobremesas{
    width: 100%;
    height: 259px;
    margin-top: 11px;
    margin-bottom: 16px;
    padding-left: 19px;
    box-sizing: border-box;
}

.sobremesa{
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: scroll;
    margin-right: 16px;
}

.finalizar{
    background: #32B72F;
}